# Accepted variables with default values -if any- in parentheses:
# CP_USER # username to run couchpotato under (couchpotato)
# CP_HOME # directory of CouchPotato.py (/opt/couchpotato)
# CP_DATA # directory of couchpotato's db, cache and logs (/var/opt/couchpotato)
# CP_PIDFILE  # full path of couchpotato.pid (/var/run/couchpotato/couchpotato.pid)
# PYTHON_BIN  # full path of the python binary (/usr/bin/python)
# CP_OPTS # extra cli options for couchpotato, see 'CouchPotato.py --help'
# SSD_OPTS  # extra options for start-stop-daemon, see 'man start-stop-daemon'

CP_USER={{ ms_user }}
CP_HOME=/opt/couchpotato

